@import url(https://fonts.googleapis.com/css?family=Sirin+Stencil);

*{
    font-family: "Sirin Stencil", sans-serif;
}

body{
    align-items: center;
    background-color: rgb(197, 192, 184);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cbActive{
    box-shadow: 0 5px 15px rgba(170, 3, 3, 0.7);
}

#colorPicker{
    height: 0px;
    visibility: hidden;
    width: 0px;
}

.colorSwatch{
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
    border-style: ridge;
    color: rgb(0, 0, 0);
    height: 50px;
    margin-top: 15px;
    width: 50px;
}

.contentBox{
    margin-top: 10px;
}

.controlBox{
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.fauxButton, .colorButton{
    align-items: center;
    background-color: rgb(214, 214, 214);
    border-color: rgb(0, 0, 0);
    border-radius: 30%;
    border-style: ridge;
    color: rgb(0, 0, 0);
    display: flex;
    flex: 0, 0, auto;
    height: 50px;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
    width: 100px;    
}

.fauxButton:hover, .colorButton:hover{
    box-shadow: 0 5px 15px rgba(170, 3, 3, 0.7);
    scale: 1.2;   
}
.footer{
    flex: 1 1 auto;
}

.gridContainer{
    background-color: rgb(145, 142, 142);
    border-color: rgb(170, 3, 3);
    border-style: solid;
    border-radius: 20px;
    border-width: 50px;
    display: grid;
    gap: 0px;
    height: 600px;
    margin: 30px;
    width: 600px;
}

.gridContainer.gridActive{
    gap: 1px;
}

.gridElement{
    background-color: white;
    height: 100%;
    width: 100%;
}

.gridSizeLabel{
    font-size: 2em;
}

.header{
    flex: 1 1 auto;
    font-size: 4em;
    text-shadow: 3px 3px 3px rgb(170, 3, 3);
}

.leftBox{
    justify-content: right;    
}

.leftBox, .rightBox{
    align-items: center;
    display: flex;
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pickerLabel{
    height: 100%;
    width: 100%;
}

.rightBox{
    justify-content: left;    
}

.sizingElements, .colorElements{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    padding: 10px;
    width: 150px;

}